asn1crypto==0.22.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
cloudinary==1.8.0
cryptography==1.9
Django==1.11.3
django-appconf==1.0.2
django-cors-headers==2.1.0
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-environ==0.4.3
django-sslserver==0.19
djangorestframework==3.6.3
gunicorn==19.7.1
idna==2.5
Jinja2==2.9.6
jsonfield==1.0.3
MarkupSafe==1.0
mock==2.0.0
ndg-httpsclient==0.4.2
olefile==0.44
pbr==3.1.1
Pillow==4.2.1
pinax-stripe==3.4.1
psycopg2==2.7.3
pyasn1==0.2.3
pycparser==2.18
pyOpenSSL==17.1.0
pytz==2017.2
requests==2.18.1
six==1.10.0
sqlparse==0.2.3
stripe==1.62.0
urllib3==1.21.1
whitenoise==3.3.0
