adal==0.4.6
asn1crypto==0.22.0
azure==2.0.0rc6
azure-batch==1.0.0
azure-common==1.1.8
azure-datalake-store==0.0.15
azure-graphrbac==0.30.0
azure-keyvault==0.3.6
azure-mgmt==0.30.0rc6
azure-mgmt-authorization==0.30.0
azure-mgmt-batch==1.0.0
azure-mgmt-cdn==0.30.3
azure-mgmt-cognitiveservices==1.0.0
azure-mgmt-compute==0.30.0rc6
azure-mgmt-containerregistry==0.2.1
azure-mgmt-datalake-analytics==0.1.6
azure-mgmt-datalake-nspkg==2.0.0
azure-mgmt-datalake-store==0.1.6
azure-mgmt-devtestlabs==2.0.0
azure-mgmt-dns==1.0.1
azure-mgmt-documentdb==0.1.3
azure-mgmt-iothub==0.2.2
azure-mgmt-keyvault==0.30.0rc6
azure-mgmt-logic==1.0.0
azure-mgmt-monitor==0.2.1
azure-mgmt-network==0.30.0rc6
azure-mgmt-nspkg==2.0.0
azure-mgmt-rdbms==0.1.0
azure-mgmt-redis==1.0.0
azure-mgmt-resource==0.30.0rc6
azure-mgmt-scheduler==1.0.0
azure-mgmt-sql==0.5.3
azure-mgmt-storage==0.30.0rc6
azure-mgmt-trafficmanager==0.30.0
azure-mgmt-web==0.32.0
azure-nspkg==2.0.0
azure-servicebus==0.20.3
azure-servicefabric==5.6.130
azure-servicemanagement-legacy==0.20.4
azure-storage==0.33.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
click==6.7
cloudinary==1.8.0
contextlib2==0.5.5
cryptography==1.9
Django==1.11.3
django-appconf==1.0.2
django-cors-headers==2.1.0
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-environ==0.4.3
django-sslserver==0.19
django-storages==1.6.5
djangorestframework==3.6.3
et-xmlfile==1.0.1
flake8==3.4.1
gunicorn==19.7.1
idna==2.5
isodate==0.5.4
jdcal==1.3
Jinja2==2.9.6
jsonfield==1.0.3
keyring==10.4.0
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
msrest==0.4.11
msrestazure==0.4.11
ndg-httpsclient==0.4.2
oauthlib==2.0.2
olefile==0.44
openpyxl==2.4.8
pbr==3.1.1
Pillow==4.2.1
pinax-stripe==3.4.1
plaid-python==2.0.2
psycopg2==2.7.3
pyasn1==0.2.3
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
PyJWT==1.5.2
pyOpenSSL==17.1.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
raven==6.1.0
requests==2.18.1
requests-oauthlib==0.8.0
six==1.10.0
sqlparse==0.2.3
stripe==1.62.0
urllib3==1.26.5
whitenoise==3.3.0
