{% extends 'app-support.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/support-style.css' %}">
<!--
IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
-->
<!--[if lt IE 9]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
<script>
  document.createElement('ui-select');
  document.createElement('ui-select-match');
  document.createElement('ui-select-choices');
</script>
<![endif]-->
<style type="text/css">
	body {
		background-color: #f6f6f6; 
	}

	.text-center {
		text-align: center;
	}
	.well {
		background: #fff;
	}

	.typeahead-demo .custom-popup-wrapper {
	    position: absolute;
	    top: 100%;
	    left: 0;
	    z-index: 1000;
	    display: none;
	    background-color: #f9f9f9;
	  }

	  .typeahead-demo .custom-popup-wrapper > .message {
	    padding: 10px 20px;
	    border-bottom: 1px solid #ddd;
	    color: #868686;
	  }

	  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
	    position: static;
	    float: none;
	    display: block;
	    min-width: 160px;
	    background-color: transparent;
	    border: none;
	    border-radius: 0;
	    box-shadow: none;
	  }

	  .tab-content { margin-top: 10px; }

	  .silver { border: none; background: #dadada; }
	  .gold { border: none; background: linear-gradient(90deg, rgb(242, 213, 134) 0%, rgb(227, 193, 96) 100%); }
	  .carbon { border: none; background: rgb(0, 0, 0); }


</style>
{% endblock %}

{% block title %}
Support -
{% endblock %}

{% block content %}
<div class="container" ng-app="main-app">
	<div ng-view></div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
	var static_url = '/static/';
</script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-animate.min.js' %}"></script>
<script src="{% static 'js/angular-touch.min.js' %}"></script>
<script src="{% static 'js/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/angular-route.min.js' %}"></script>
<script src="{% static 'js/ui-bootstrap-2.5.0.min.js' %}"></script>
<script src="{% static 'js/ui-bootstrap-tpls-2.5.0.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controllers/controllers.js' %}"></script>




<script type="text/javascript">
	$('.next').click(function(){

	  var nextId = $(this).parents('.tab-pane').next().attr("id");
	  $('[href=#'+nextId+']').tab('show');
	  return false;
	  
	})

	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
	  //update progress
	  var step = $(e.target).data('step');
	  var steps = ['', 'Welcome', 'Add Product', 'Add Cloud', 'Preview', 'Finish'];
	  var percent = (parseInt(step) / 5) * 100;
	  
	  $('.progress-bar').css({width: percent + '%'});
	  $('.progress-bar').text("Step " + steps[$(e.target).data('step')] + " of 5");
	  
	  //e.relatedTarget // previous tab
	  
	})

	$('.first').click(function(){

	  $('#myWizard a:first').tab('show')

	})
</script>

{% endblock %}