{% extends 'base-support.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/support-style.css' %}">

<style type="text/css">
	body {
		background: url({% static 'images/backgrounds/support-purchase-bg.jpg' %}) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	}
</style>
{% endblock %}

{% block title %}
Support -
{% endblock %}

{% block content %}

<div id="app"></div>

{% endblock %}


{% block javascript %}

<script src="{% static 'vue/build.js' %}"></script>

{% endblock %}