/* Header Videos */

html, body {
	height: 100%;
	min-height: 100%;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 4em;
}
h3 {
	font-size: 2.8em;
}
h4 {
	font-size: 1.6em;
	line-height: 45px;
}

/* Buttons */

.btn-blue {
	padding: 10px;
	border: 2px solid #2f74bb;
	background: transparent;
	border-radius: 0px;
}
.btn-blue:hover {
	color: #2f74bb;
}

/* Position */

.pad-top-bottom {
	padding-top: 75px;
	padding-bottom: 75px;
}

/* Background */
.white-background {
	background: white;
}

.gray-background {
	background: #2a2a2a;
}

.ltgray-background {
	background: #f6f6f6;
}

/* Font */
.text-white {
	color: white;
}


/**/
/* FOOTER */
/**/

.footer {
	padding-top: 25px;
	padding-bottom: 50px;
}

.footer a:hover {
	text-decoration: none;
}

.footer h3 {
	font-size: 1.8em;
}

.footer h4 {
	font-size: 1.2em;
}