#footer {
	background-color: #1b1c1d;
}

#footer a {
	color: #AAA;
}

#footer a:hover {
	color: #FFF;
}

#footer .footer-social-links a {
	font-size: 3.5em;
	color: #2185d0;
}

#footer .footer-social-links a:hover {
	color: #176895;
}

@media (max-width: 767px) {
	.footer-social-links {
		margin-top: 25px;
		margin-bottom: 15px;
	}
}