.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #eeeeee;
}
.navbar-default .navbar-brand {
  color: #2b2b2b;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #296c80;
}
.navbar-default .navbar-text {
  color: #2b2b2b;
}
.navbar-default .navbar-nav > li > a {
  color: #2b2b2b;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #296c80;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #296c80;
  background-color: #eeeeee;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #296c80;
  background-color: #eeeeee;
}
.navbar-default .navbar-toggle {
  border-color: #eeeeee;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #eeeeee;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2b2b2b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2b2b2b;
}
.navbar-default .navbar-link {
  color: #2b2b2b;
}
.navbar-default .navbar-link:hover {
  color: #296c80;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #2b2b2b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #296c80;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #296c80;
    background-color: #eeeeee;
  }
}

#navbar-static {
  background-color: transparent;
  border: none;
}

#navbar-static .navbar-nav > li > a {
  color: #FFFFFF;
}

#navbar-static .navbar-nav > li > a:hover,
#navbar-static .navbar-nav > li > a:focus {
  color: #FFFFFF;
}

#navbar-static .navbar-nav > .active > a,
#navbar-static .navbar-nav > .active > a:hover,
#navbar-static .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: transparent;
}

#navbar-static .navbar-nav > .open > a,
#navbar-static .navbar-nav > .open > a:hover,
#navbar-static .navbar-nav > .open > a:focus {
  color: #FFFFFF;
  background-color: rgba(255,255,255,0.2);
}

#navbar-static .navbar-link {
  color: #FFFFFF;
}
#navbar-static .navbar-link:hover {
  color: #F3F3F3;
}

#navbar-static .navbar-text {
  color: #FFFFFF;
}