#app h1, #app h2, #app h3, #app h4, p, div {
	color: white;
}

#app .btn-success {
	padding: 10px 20px;
	color: #00b95f;
	background: transparent;
	border: 1px solid #00b95f;
}

#cart {
	background: white;
}