/* ********************* */
/* Support Purchase Page */
/* ********************* */

#app .btn-success {
	padding: 10px 20px;
	color: #00b95f;
	background: transparent;
	border: 1px solid #00b95f;
}

#cart {
	background: white;
}


#purchase-form {
    color: white;
}


/* ********************* */
/* Support Compare Table */
/* ********************* */

table td {
    color: #555;
}

.table tbody td {
    font-size: 18px;
}

.table thead th {
    background-color: #0773ba; 
    color: #FFF;
    font-weight: 100;
}
.table thead th:not(:first-child) {
    text-align: center;
}
.table tbody tr td:nth-child(2) {
    background-color: #ffd220;
    color: #222;
}



/* ******************* */
/* Support Plan Panels */
/* ******************* */

.plan-panel {
    height: 660px;
}

.panel-heading {
    background-color: #FFF!important;
    border: 0;
}

.list-altcolor li {
    padding: 6px 0 6px 5px;
}

.list-altcolor li:nth-child(odd) {
    background-color: #F3F3F3;
}

.folded h2 {
    background: #08b;
    /*background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.2));*/
    border: 0 solid rgba(0,0,0,0.1);
    color: #000;
    font-size: 24px;
    /*font-weight: bold;*/
    position: relative;
    /*text-shadow: -1px -1px 1px rgba(0,0,0,0.2);*/
}

.folded:before, div.folded:after {
    bottom: 33px;
    content: "";
    height: 35px;
    position: absolute;
    width: 55%;
    z-index: -1;
}
.folded:before {
    right: 2%;
    transform: rotate(-3deg);
}
.folded:after {
    left: 2%;
    transform: rotate(3deg);
}
.folded h2 {
    border-width: 1px 1px 2px;
    margin: 0;
    padding: 8px 60px;
    position: absolute;
    left: 2px;
    margin-top: 0;
}
.folded h2:after {
    border-width: 7px;
    border-style: solid;
    border-color: #AAA #AAA transparent transparent;
    bottom: -15px;
    content: "";
    position: absolute;
    left: -1px;
}

.btn-silver {
	width: 100%;
	background-color: #E8E8E8;
	color: black;
}

.btn-gold {
	width: 100%;
	background-color: #f4c730;
	color: white;
}

.btn-black {
	width: 100%;
	background-color: black;
	color: white;
}