/* Placeholder Color */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #8493A8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #8493A8;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #8493A8;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #8493A8;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #8493A8;
}