{% extends 'base.html' %}

{% load static %}
{% load cloudinary %}

{% block title %}
Home
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/background-video.css' %}">

<!-- <link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="{% static 'css/homepage-mobile.css' %}" /> -->
<style type="text/css">
	div {
		/*border: 1px solid red;*/
	}
	@media (max-width: 767px) {
		#landing-banner {
			background: url('{% static 'images/company/landing/header-home.jpg' %}') center center / cover no-repeat;
		}
		.fullscreen-bg {
			background: url('{% static 'images/company/landing/header-home.jpg' %}') center center / cover no-repeat;
		}

		.fullscreen-bg__video {
			display: none;
		}
	}
</style>

{% endblock %}

{% block content %}

<div class="fullscreen-bg">
	{% cloudinary_vid 'homepage_landing_ohhb2l.mp4' autoplay="true" loop="true" muted="true" class="fullscreen-bg__video" %}
    <!-- <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="video/big_buck_bunny.webm" type="video/webm">
        <source src="video/big_buck_bunny.mp4" type="video/mp4">
        <source src="video/big_buck_bunny.ogv" type="video/ogg">
    </video> -->
</div>

<div class="container" id="scrolldown">
	<div class="row">
		<div class="col-xs-12 text-center">
			<a class="scrolldown-arrow" href="#intro">
				<i class="fa fa-angle-down" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>


<div class="container" id="landing-banner">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center">This is MIBURA</h1>
		</div>
		<div class="col-xs-12 text-center">
			<p style="font-size: 1.8em;">
				We're Driving The Fourth Industrial Revolution with Cost Effective <br>
				Data Center Hardware, Cloud, Device Management, Consulting, and Support <br> <br>
				Compute <span style="color: #0773ba">|</span> Storage <span style="color: #0773ba">|</span> Network <span style="color: #0773ba">|</span> People <span style="color: #0773ba">|</span> DELIVERED
			</p>
		</div>
	</div>
	<div class="row homepage-links" style="margin-top: 50px;">
		<div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
			<a href="{% url 'datacenter:index' %}" class="card">
				<div class="head">
					<img src="{% static 'images/icons/svg/server.svg' %}" class="img-responsive">
				</div>
				<hr>
				<div class="body">
					<span style="font-size: .8em;font-weight: 700;">
						Modern Data Center
					</span>
				</div>
			</a>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
			<a href="{% url 'cloud:index' %}" class="card">
				<div class="head">
					<img src="{% static 'images/icons/svg/cloud-computing.svg' %}" class="img-responsive">
				</div>
				<hr>
				<div class="body">
					<span style="font-size: .8em;font-weight: 700;">
						Cloud Implementation
					</span>
				</div>
			</a>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
			<a href="{% url 'support:index' %}" class="card">
				<div class="head">
					<img src="{% static 'images/icons/svg/customer.svg' %}" class="img-responsive">
				</div>
				<hr>
				<div class="body">
					<span style="font-size: .8em;font-weight: 700;">
						Smart Support
					</span>
				</div>
			</a>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
			<a href="{% url 'staffing:index' %}" class="card">
				<div class="head">
					<img src="{% static 'images/icons/svg/operator.svg' %}" class="img-responsive">
				</div>
				<hr>
				<div class="body">
					<span style="font-size: .8em;font-weight: 700;">
						Tech Staffing
					</span>
				</div>
			</a>
		</div>
	</div>
</div>

<div id="intro" class="container-fluid pad-top-bottom ltgray-background">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
			<h2>We're Known For:</h2>
			<h4>At MIBURA, we understand the challenges and complexities of today's on premise data center and cloud environments. We take an agile and strategic approach to everything we do—offering subject matter expertise across the world's leading cloud providers, enterprise hardware, and enterprise software companies. 
			We know the Hybrid Cloud!</h4>
			<p></p>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
				Click Here to learn more
			</button>
			{% include 'templatetags/modals/homepage-solutionsandservices.html' %}
		</div>
	</div>	
</div>

<div id="wedoitfor" class="container-fluid pad-top-bottom city-background">
	<div class="container">
		<div class="row text-center">
			<div class="col-xs-12 pad-bottom">
				<h2>We Do It For:</h2>
				<h4>
					Today's data center and cloud platform have changed the way we live and do business. Each business has unique compliance and regulation obligations, having transparency requirements at the same time. Our experience in every vertical gives us confidence in accelerating you through The Fourth Industrial Revolution.
				</h4>
			</div>
			<div class="col-xs-12 col-md-4">
				<h2 style="font-size:3.5em; line-height: 22px; color: #ffd220">
					24x7x365
				</h2>
				<h3>Assistance</h3>
				<p style="line-height: 32px;">
					Hardware &amp; Software Procurement<br>
					Enterprise Technology Support<br>
					Temp IT Workforce<br>
					Global Integration &amp; Delivery
				</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<h2 style="font-size:3.5em; line-height: 22px; color: #ffd220">
					15
				</h2>
				<h3>Minutes Or Less</h3>
				<p style="line-height: 32px;">
					Scoping for SOW,<br>
					Quote for BOM,<br>
					Hardware or Cloud SUPPORT,<br>
					Infrastructure &amp; Security ASSESSMENT
				</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<h2 style="font-size:3.5em; line-height: 22px; color: #ffd220">
					10
				</h2>
				<h3>Years</h3>
				<p style="line-height: 32px;">
					Trusted Professional Services, Procurement, and Support for Global &amp; SMB Companies, Telecommunication Companies, Cloud Providers, State &amp; Federal Agencies, and Non-Profit Organizations
				</p>
			</div>
			<div class="col-xs-12">
			<br><br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ServicesModal">
					Click Here to learn more
				</button>
			</div>
			{% include 'templatetags/modals/homepage-services.html' %}
		</div>
	</div>	
</div>

<div class="container-fluid white-background pad-top-bottom">
	<div class="row text-center">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h2>Working together to serve you better.</h2>
			<h3>Our capabilities power real transformations for people and organizations everywhere—enabling you to innovate faster and embrace the next big opportunity</h3>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div id="partner-images" class="col-xs-12 col-md-10 col-md-offset-1">
			{% include 'templatetags/homepage-sponsors.html' %}
		</div>
	</div>
</div>


{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{% static 'js/pagescroll.js' %}"></script>
{% endblock %}