{% extends 'base.html' %}

{% load static %}
{% load cloudinary %}

{% block title %}
Home
{% endblock %}

{% block css %}
<style type="text/css">
	

	.card:hover {
		background: white;
		margin-top: -3px;
		text-decoration: none;
		color: black;
	}

	.card {
		display: block;
		width: 100%;
		background: white;
		background: rgba(255,255,255,.8);

		padding: 15px;

		color: black;
		font-family: 'Roboto', Helvetica;
		font-weight: 300;
		text-align: center;
		font-size: 1.28571429em;

		border-radius: 5px;

		transition: margin 0.1s ease-out;
		-webkit-transition: margin 0.1s ease-out;
		-moz-transition: margin 0.1s ease-out;
		-o-transition: margin 0.1s ease-out;
	}

	.card > hr {
		margin-top: 15px;
		margin-bottom: 5px;
		border: 0;
		border-top: 1px solid #CCC;
	}

	.card .head img {
		display: block;
		margin: auto;
		max-height: 50px;
		filter: brightness(0%);
	}
</style>
{% endblock %}

{% block content %}

<div id="BG_VIDEO">

	{% cloudinary_vid 'homepage_landing_ohhb2l.mp4' autoplay="true" loop="true" %}

</div>


<div class="container" id="landing-banner">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center">This is MIBURA.</h1>
		</div>
		<div class="col-xs-12 text-center">
			<p style="font-size: 1.8em; font-weight: bold;">
				We're Driving The Fourth Industrial Revolution with Cost Effective <br>
				Data Center Hardware, Cloud, Device Management, Consulting, and Support <br> <br>
				<span style="font-weight: bold;">Compute <span style="color: #0773ba">|</span> Storage <span style="color: #0773ba">|</span> Network <span style="color: #0773ba">|</span> People <span style="color: #0773ba">|</span> DELIVERED </span>
			</p>
		</div>
	</div>
	<div class="row" style="margin-top: 50px;">
		<div class="col-md-3">
			<a href="{% url 'datacenter:index' %}" class="card">
				<div class="head">
					<img src="{% static 'images/icons/svg/server.svg' %}" class="img-responsive">
				</div>
				<hr>
				<div class="body">
					<span style="font-size: .8em;font-weight: 700;">
						Modern Data Center
					</span>
				</div>
			</a>
		</div>
		<div class="col-md-3">
			<a href="{% url 'cloud:index' %}" class="card">
				<div class="head">
					<img src="{% static 'images/icons/svg/cloud-computing.svg' %}" class="img-responsive">
				</div>
				<hr>
				<div class="body">
					<span style="font-size: .8em;font-weight: 700;">
						Cloud Implementation
					</span>
				</div>
			</a>
		</div>
		<div class="col-md-3">
			<a href="{% url 'support:index' %}" class="card">
				<div class="head">
					<img src="{% static 'images/icons/svg/customer.svg' %}" class="img-responsive">
				</div>
				<hr>
				<div class="body">
					<span style="font-size: .8em;font-weight: 700;">
						Smart Support
					</span>
				</div>
			</a>
		</div>
		<div class="col-md-3">
			<a href="{% url 'staffing:index' %}" class="card">
				<div class="head">
					<img src="{% static 'images/icons/svg/operator.svg' %}" class="img-responsive">
				</div>
				<hr>
				<div class="body">
					<span style="font-size: .8em;font-weight: 700;">
						Tech Staffing
					</span>
				</div>
			</a>
		</div>
	</div>
</div>



<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>
<p>.</p><p>.</p>

{% endblock %}