#footer {
	background-color: #1b1c1d;
}

.footer a {
	color: #AAA;
}

.footer a:hover {
	color: #FFF;
}

#footer .footer-social-links a {
	font-size: 3.5em;
}

@media (max-width: 767px) {
	.footer-social-links {
		margin-top: 25px;
		margin-bottom: 15px;
	}
}



a.link-blue, .link-blue a {
	color: #2185d0;
}

a.link-blue:visited, .link-blue:active {
	color: #2185d0;
}

a.link-blue:hover, .link-blue > a:hover {
	color: #4dc1ff;
}